<!--
   vim: ts=3
-->


<details>


<a name="dynamics"> </a>
<summary>Dynamics</summary>



<h3>1. Softest {B&I 16.1}</h3>



<ol type="a">
   <li>
      <i>pppppppp</i> (8 p's) in Ligeti's Etudes for Piano, 1st
      Book (1988-94), no. 4, m. 170 and 2nd Book, no. 9 (contributed
      by Hook), and in Helmut Lachenmann: Echo Andante for piano
      (1962), last note (contributed by Gottlieb).
   </li>

	<li>Runners-up: 
      <i>ppppppp</i> (7 p's) in Verdi: Otello, Act II, Scene 5
      (Schirmer ed., p. 187) (contributed by Forty).

      <i>pppppp</i> (6 p's) in Tchaikovsky: Symphony No. 6, Op. 74
      (1893), I, m.160, bassoon; in Henze: Koenig Hirsch (1952-55),
      end of Act I; and in Ligeti:

      Etudes for Piano, 2nd Book (1988-94). <i>ppppp</i> (5 p's)
      appears in works of Tchaikovsky, Mahler, etc. Of course, it
      could be argued that <i>il più piano possibile</i> or equivalent
      is softer.
   </li>
</ol>



<h3>2. Loudest {B&I 16.1}</h3>



<ol type="a">
	<li>
      <i>ffffffff</i> (8 f's) in Ligeti: Etudes for Piano, 2nd Book,
      nos. 13 and 14.
   </li>

	<li>
      Runners-up: <i>fffff</i> (5 f's) in in Tchaikovsky: The Tempest
      symphonic fantasia, Op. 18 (1873), at rehearsal mark 18, many
      instruments (contributed by Parsons); Henze: Barcarolla for
      Large Orchestra, near the end, many instruments; and Ives:
      Putnam's Camp, in Three Places in New England (Mercury ed.),
      last chord, piano (but this might be a misprint, since many
      other instruments have 4 f's). Again, of course, <i>il più
      forte possibile</i>, <i>con tutta forza</i>, or equivalent
      is arguably louder.

   	(Tchaikovsky: 1812 Overture, a piece that's famous for its
   	loudness, reaches only <i>ffff</i> (p. 81). But obviously
   	instrumentation--i.e., fireworks and cannon in some performances--is
   	a factor!)
	</li>
</ol>



</details>



