<!--
   vim: ts=3
-->


<details>


<summary>Earliest Usages</summary>

<p>
	For contemporary notation, Risatti (1975) and Read (1978) have
	numerous citations.
</p>



<h3>1. Pitch</h3>



<ol type="a">
	<li>	
      Earliest split stem (a.k.a. "grape cluster"): Chopin: Etude
      Op. 10 no. 11 (1831?; Paderewski ed.). Runner-up: Chopin:
      Mazurka in a, KK IIb no. 4 (1840). Both cases are for augmented
      unisons.
	</li>

	<li>
		Earliest microtonal notation: *A piece by Nicola Vicentino (in
		his "L'antica musica ridotta alla moderna prattica", 1555) (contributed
		by McKay). Runners-up: *a four-voice work by Galeazzo Sabbatini (in
		Kircher's "Musurgia universalis", 1650) (contributed by McKay);
		Charles Delusse: *Air a la Greque (1760), which uses a + to indicate
		a raise of one quartertone (contributed by Wolf). In more recent
		times, I've seen J. Carillo (e.g., String Quartet (1895)) cited as
		a very early author of microtonal music.
	</li>

	<li>
      Earliest diatonic tone cluster: Heinrich Biber: Battaglia for
      10 instruments (ca. 1673; in Schenk, 1997), 2nd mvmt., includes
      a 4-note tone cluster (in m. 9: C#,D,E,F#); several 3-note
      diatonic clusters; and at least one occurrence of two clusters
      in different scales simultaneously (D,E,F-natural, and--in a
      higher register--F#,G,A) (contributed by Wiering). This might
      be considered a 6-note cluster, but I think not, because of
      the change of register. (The different scales are because the
      passage is polytonal(!): various instruments are playing in
      C, D, and G.) Runners-up: Johann Kuhnau: Six Biblical Sonatas
      (publ. 1700), no. 1, "Der Streit zwischen David und Goliath"
      includes a cluster of C,D,E,G (contributed by Wolf). The
      earliest example with more than 4 notes is Cowell: The Tides
      of Manaunaun (probably 1917, not the claimed 1912) has
      white-key-only and black-key-only clusters of 2 octaves. (NB:
      as I use the term, the notes must be struck at once, and not
      just sound together, to count as a tone cluster. Also, I
      exclude acciaccaturas, examples of which can be found in many
      composers, including D. Scarlatti and J.S. Bach.)
	</li>

	<li>
      Earliest chromatic tone cluster: Beethoven: Piano Concerto
      no. 4, Op. 58 (1805-06), I, 2nd theme includes a 3-note cluster
      produced by a 3rd-inversion dominant 7th chord with an
      ornamental note filling in the major 2nd: in the exposition,
      adding a G# to the chord's G,A,C#,E (contributed by Elkies).
      However, it's very short, and it's doubtful whether it's heard
      as a cluster. The earliest univocal example is Verdi: Otello
      (1887), Act I, which opens with a very lengthy cluster in the
      organ of 3 notes (C2,C#2,D2). Earliest example with many
      notes: Cowell: The Tides of Manaunaun has almost continuous
      chromatic clusters of 1 octave to ca. 2-1/2 octaves.
	</li>

	<li>
      Earliest double sharp: Arnold (1983) mentions Trabaci's *Il
      secondo libro de ricercare (1615).
	</li>

	<li>
      Earliest 15ma: Cowell's piano piece Advertisement (1914).
	</li>

	<li>
      Earliest ledger line: Unclear. The article "Leger [Ledger]
      Line" in Sadie (2001) (as quoted in the Wikipedia article
      "Ledger line") says "Although ledger lines are found occasionally
      in manuscripts of plainchant and early polyphony, it was only
      in the early 16th century in keyboard music that their use
      became at all extensive." Of course plainchant and "early
      polyphony" aren't CMN. The article "ledger line" in Randel
      (2003) comments that an early example of the extensive use
      of ledger lines is Marc Antonio Cavazzoni's Recerchari Motetti
      Canoni for organ (1523), but this is probably not CMN
      either.
	</li>
</ol>



<h3>2. Duration and Rhythm</h3>



<ol type="a">
	<li>
      Earliest tuplets (in modern notation): Emanuel Adriaensen's
      Pratum musicum (Antwerp, 1584) contains several triplets, one
      of which is indicated with a "3" below the affected notes.
      (Contributed by Crawford) Runner-up: Claude Le Jeune's setting
      of Psalm 35, Deba contre mes debateurs (publ. in 1598;
      transcription in Davison &amp; Apel, 1962), contains numerous
      triplets, but I have no idea how the triplets were notated
      in the original.
	</li>

	<li>
		Earliest nested tuplets

		<ol type="i">

			<li>
	 			Schubert: Adagio in G, D. 178 (1815!) uses triplets within
	 			triplets (contributed by Bala).
			</li>

			<li>
	 			Runners-up: Liszt: Transcendental Etude no.4 ("Mazeppa")
	 			(probably 1837 or earlier) uses triplets within triplets.
	 			(Caveat: This piece apparently was written in 1827, rev.
	 			in 1837, and rev. again in 1854, and I don't know in which
	 			version this feature was first used.)

	    		Chopin: *Allegro de concert, Op. 46 (finished by 1841),
	    		has sixteenth-note triplets inside eighth-note triplets
	    		(contributed by Bala). Alkan: *Etude No. 9 ("Concerto,
	    		Deuxième Partie") from Douze études dans tous les tons
	    		mineures, Op. 39 (1857), mm. 115-133, 172-175, and
	    		186-191: they are sixteenth-note triplets within
	    		eighth-note triplets. Wagner: Tristan und Isolde (1859;
	    		Dover ed.), Act III Scene I, p. 515, uses triplets and
	    		sextuplets within a triplet.
	 		</li>
      </ol>
   </li>

	<li>
      Earliest tuplets crossing a barline: In Alkan: Morte (Op. 15
      No. 3, from Trois morceaux dans le genre pathetique, composed
      1837), mm.223-4 have 5:4 quarter notes spanning both bars,
      and mm. 303-4 have 9:8 eighth notes spanning both bars. The
      section is in 2/4.

      (Caveat re the measure numbers: this edition has several
      editorial barlines before this, so other scores may not agree
      on these numberings. Subtracting 23 from them should account
      for that.) Runner-up: Brahms: Piano Sonata in F minor, Op. 5
      (1853), V (4:3 quarter notes across the barline). (both
      contributed by Bala)
	</li>

	<li>
      Earliest half-note triplets (i.e., triplet with total duration
      of a whole note): Berlioz's Symphonie Fantastique, Op. 14
      (1830), I, bassoon and cello parts in mm. 282-83 (contributed
      by Hook).
	</li>

	<li>
      Earliest use of 32nd notes: G. Della Casa, Il vero modo di
      diminuir (printed in 1584), Libro Primo, p. 27 (contributed
      by Pugin). But this is arguably white mensural notation, not
      CMN.
   </li>

	<li>
      Earliest use of 64th notes: Orlando Gibbons: Pavane Lord
      Salisbury (publ. in Parthenia, ca. 1612; in Davison &amp; Apel,
      1962).
   </li>

	<li>
      Earliest use of polyrhythm with non-coinciding barlines after
      1700: Mozart: Don Giovanni (1787), ballroom scene, has 3/4
      against 2/4 against 3/8.

      (Relative tempi are 2/4 quarter = 3/4 quarter; 3/8 dotted
      quarter = quarter of the others.)
	</li>

	<li>
      Earliest feathered ("accelerando") beams: Risatti cites Heinz
      Holliger: *Mobile (1964). Runner-up: Roger Reynolds: Quick
      Are the Mouths of Earth (1965).
   </li>

	<li>
      Earliest double dots: Chambonnieres: Les Pieces de Clavecin
      (Paris, 1670). Double dots appear in Livre 1, p. 51, and Livre
      2, pp. 2 and 49; they have their normal modern meaning.
      (Contributed by Crawford. The articles "Notation" in Sadie
      (1980) and Arnold (1983) mention this as an early example but
      make no claim of it being the first use, though Arnold says
      they were used from the 17th century onward. (Sadie (2001)
      appears not to mention any early examples. Read (1969) says
      they were first used in the late fifteenth century but gives
      no details, and it's a pretty far-fetched idea.)
	</li>

	<li>
      Earliest note/chord tied to a rest or to nothing at all:
      Schumann: Piano Sonata no. 1 in f-sharp minor, Op. 11, II
      (1836; Henle ed.) (contributed by Bastin). Runners-up: Ravel:
      Jeux d'eau (1901); Scriabin: Poem(?), Op. 31? no. 2? (1903).
	</li>

	<li>
      Earliest chord with some but not all notes tied to the next,
      or from the previous, chord:

      (1) Non-arpeggiated: Beethoven: Piano Sonata no. 7, Op. 10
      no. 3, I (1797-98) has at least five; his Piano Sonata no.
      28, Op. 101, I (1816) also has some. But this notation is not
      all that interesting, and probably rather common as well.

      (2) Arpeggiated (with attack rhythm specified, i.e., not just
      via the arpeggio symbol): Haydn: Piano Sonata in E minor,
      Hoboken XVI (publ. 1784; Peters-Martienssen ed.), I, has
      several arpeggios of 2 or 3 notes with all notes tied into a
      single chord following. Runners-up: Beethoven: Piano Sonata
      no. 5, Op. 10 no. 1 (Schenker ed.), III, m. 112 has a 10-note
      grace-note arpeggio across staves/hands with all but the first
      4 tied into the following chords on both staves. His Piano
      Sonatas Op. 2 no. 3, I (1795); no. 11, Op. 22 (1800), IV; no.
      14, Op. 27 #2 ("Moonlight"; 1801), III, mm. 162-165; and no.
      23, Op. 57 ("Appassionata"; 1806), I, m. 123, each have
      arpeggios of up to 4 (5 in the "Moonlight" and "Appassionata"!)
      notes with all notes tied into a single chord following; in
      all but Op. 22, the notes are double-stemmed as both a single
      voice and independent voices (for all, Schenker ed.). (This
      notational feature is very interesting because it indicates
      a "blurring" of voices. The identical effect occurs much
      earlier, e.g., in Bach: Prelude to English Suite no.1 (1725?),
      mm. 2-3, but there it's notated--at least in the Bach-Gesellschaft
      edition!--as if the voices are really independent.)
	</li>

	<li>
      Earliest beamed group crossing a barline: Beethoven: Piano
      Sonata no. 7, Op. 10 no. 3 (Schenker ed.; in B &amp; M, 1948),
      IV, mm. 1-2 and numerous places. Runner-up: Beethoven: Piano
      Sonata no. 10 in G, Op. 14 no. 1 (Schenker ed.), I, mm.
      121-122.
	</li>

	<li>
      Earliest beamed group starting with a half-notehead: Chopin:
      Piano Sonata no. 1, Op. 4 (1828?; Schirmer-Mikuli ed.), I,
      p.4.

      But apparently this  device already occurs in some guitar
      music published around 1810. I (contributed by Crawford)
	</li>

	<li>Earliest time signature uses
		<ol type="i">
			<li>Earliest use of different time signatures simultaneously.
				<ol type="a">
					<li>
		  				Different in appearance but effectively identical:
		  				J.-B. Lully: Armide (1686; Eitner/Breitkopf &amp;
		  				Hartel ed., 1885, reprinted in Burkholder, 2006),
		  				Act II Scene 5, recitative has repeated instances
		  				of combinations like "3" for voice and 3/4 for
		  				continuo, or "2" for voice and cut time for
		  				continuo.
					</li>

					<li>
		  				Genuinely different: Variation 26 of Bach: Goldberg
		  				Variations (1742; Bach-Gesellschaft ed.) starts
		  				with one staff in 18/16 and the other in 3/4.
		  				(Each staff changes between the two time signatures
		  				repeatedly, at one point in the middle of a
		  				measure! But relative tempi are such that barlines
		  				always coincide.)
					</li>
				</ol>
			</li>

			<li>
	    		Earliest use of multiple (alternate) time signatures
	    		on a staff: the D-major Prelude in Bach: Well-Tempered
	    		Clavier, Book II (1744; Bischoff/Kalmus ed.) has a time
	    		signature on both staves of "C" juxtaposed to 12/8.
			</li>

			<li>
	    		Earliest use of quintuple meter: Christopher Tye: In
	    		Nomine XXI: Trust for viol consort (mid-16th century)
	    		is entirely in 5/2 (contributed by Elkies). However,
	    		this isn't really CMN.

	    		Runners-up (and winners for unequivocal CMN): Handel's
	    		Orlando (1733), Act II, scene XI, "Ah! stigie larve...",
	    		pp. 65-66, contains a few measures in 5/8, which is
	    		also the earliest known use of that specific meter
	    		(contributed by Meckler); Chopin: Piano Sonata no. 1,
	    		Op. 4 (1828), III is in 5/4; Carl Loewe's ballad *Prinz
	    		Eugen, Op. 92 (1844).
			</li>

			<li>Earliest use of septuple meter:
				<ol>
					<li>
		  				Notated as such: Alkan: Impromptu, Op. 32 No. 8
		  				(1849!) (contributed by Bala); the meter is 7/4.
		  				Runner-up: Bartok: no. 2 of Two Elegies (for
		  				piano), Op. 8b (1909).
					</li>

					<li>
		  				Notated as a repeating pattern of measures of
		  				regular lengths: Reicha: 36 Fugues for Piano
		  				(1805) no. 24, is in "cut time + 3/4" throughout;
		  				it consistently alternates between the two
		  				(contributed by Murphy). Runners-up:  Brahms:
		  				"Variations on a Hungarian Song" Op. 21, No. 2
		  				(1854) is notated as 3/4 C; the theme and first
		  				eight variations consistently alternate between
		  				the two (contributed by Murphy). Brahms: Piano
		  				Trio in c, Op. 101 (1886), III is notated as 3/4
		  				2/4, but consistently has one measure of 3/4
		  				followed by two of 2/4.
					</li>
				</ol>
			</li>

			<li>	
	    		The *Fitzwilliam Virginal Book (ca. 1619) contains
	    		several pieces with metric structures tantamount to
	    		irregular meters but notated as a repeating pattern of
	    		measures of regular lengths, e.g., 11/8 = 4/4 + 3/8
	    		(contributed by Elkies).
			</li>

			<li>
				Earliest non-integer time signature numerator:

	    		(3-1/2)/4 in Florent Schmitt: *La tragédie de Salomé
	    		(1907; Durand ed.).

	    		Runners-up: (4-1/2)/4 in Ives: *Piano Sonata no. 1
	    		(1909; Southern Music ed.); (4-1/2)/4 in Ives: "Concord"
	    		Piano Sonata no. 2 (completed 1915) (Kalmus ed.), III
	    		("The Alcotts"); (3-1/2)/4 in Varese: *Offrandes (1921).
	    		NB: Read (1978) lists dozens of works with fractional
	    		time signature numerators, and it's quite possible that
	    		some are earlier than those mentioned here.
			</li>
		</ol>
	</li>

	<li>
      Earliest extended passage without barlines (after barlines
      came into general use, ca. 1600): "Anonyme [Louis Couperin?]
      [d'Anglebert?]" (so presumably mid-17th century): a four-page
      (23 systems) Prelude, in A minor, from "Suite III" (written
      entirely in whole notes, with bizarre slur-like things --
      some with loops -- all over the place; this is common in
      unmeasured keyboard preludes in that style). Runner-up: C.P.E.
      Bach: Free Fantasy in D (Wotquenne 117/14), in his Versuch
      uber die wahre Art das Clavier zu spielen (publ. 1762), is
      just under a page (5 systems); the last "measure" of C.P.E.
      Bach: Fantasia in F (Wq 59/5) (1782) takes almost two pages
      (12 systems).
	</li>

	<li>
      Earliest tie: according to Rastall (1982), the first use of
      ties is in Marco Antonio Cavazzoni: *Recerchari, motetti,
      canzoni (1523).
	</li>

	<li>
		Earliest use of <i>accelerando</i>, <i>ritardando</i>, or equivalent:

      <i>Slentando</i> in Purcell's King Arthur (1691), Act III,
      at the end of "Cold Genius".

      <i>Slentando</i> appears in a 1710 manuscript copy; this
      presumably reflects Purcell's autograph. An 1813 edition is
      marked <i>ritardando</i> instead, which in any case is
      equivalent. (contributed by Solow)

      Runners-up for earliest use, and earliest use in print:
      <i>calando</i> in Mozart: Piano Sonata, K. 332 (1783), III,
      ending; <i>rallentando</i> in Beethoven's Trio, Op. 1, no. 2
      (1795), Finale; Beethoven's Piano Sonata no. 4, Op. 7 (1797),
      IV (all contributed by Solow). Note: Rastall (1982, p. 192)
      says "gradual changes of tempo...were an eighteenth-century
      addition", and mentions terms for both <i>accelerando</i> and
      <i>ritardano</i>, but gives no examples.
	</li>

	<li>
      Earliest small notes: Bach: Organ Prelude in F minor, BWV 534
      (Bach-Gesellschaft ed.; ca. 1708 to 1717), bottom of p. 2.
      Runners-up: Bach: cantatas "Sie werden euch in den Bann tun",
      BWV 44, V, and "Nun komm, der Heiden Heiland", BWV 62 (both
      1724), II, III, and IV. All of these are in metrically-complete
      measures.
	</li>
</ol>



<h3>3. Dynamics</h3>



<p>
   Rastall (1982) contains a fairly extensive discussion of early
   uses of dynamic markings. In the items below, no distinction is
   made between words and their abbreviations, e.g., between <i>f</i>
   and <i>forte</i>.
</p>

<ol type="a">
	<li>
      Earliest use of any dynamic marking: Vincenzo Capirola's
      lutebook (ca. 1517) (Fig. 120 in the article "Notation" in
      Sadie, 2001).
	</li>

	<li>
      Earliest use of <i>pian[o]</i> and <i>forte</i>: Giovanni
      Gabrieli: Sonata pian e forte, from Sacrae Symphoniae (1597).
   </li>

	<li>
      Earliest use of <i>mf</i>: Gluck: Orfeo ed Euridice (1762),
      Act II Scene 1. Runners-up: Haydn: Piano Sonata no. 9 in D
      (1767; Peters-Martienssen ed.), II; F. X. Richter: String
      Quartet in B-flat, Op. 5 no. 2 (1768). NB: Rastall (1982)
      says C.P.E. Bach used mf, but gives no details.
   </li>

	<li>
      Earliest use of <i>mp</i>: Schütz: Saul, was vergolst du mich
      (ca. 1650) from Symphoniae sacrae III (Barenreiter; reprinted
      in Burkholder, 2006) (contributed by Cuthbert). Runners-up:
      Haydn: Quartet Op. 77 no. 2 (1799; pub. 1803), I (contributed
      by Solow); Liszt: Transcendental Etude no. 4 ("Mazeppa")
      (1827, rev. 1837). Rastall (1982) says <i>mp</i> appears later
      than <i>mf</i>, but gives no details. Badura-Skoda (1962)
      says Mozart knew of <i>mp</i> as well as <i>mf</i>, writing
      "pf" for the former, but gives no further details.
   </li>

	<li>
      Earliest use of <i>fp</i>: Johann Stamitz: Sinfonia in E-flat
      ("La Melodia Germanica" no. 3) (1755), I. Runner-up: Mozart:
      Piano Sonata in F, K.280 (1774), III.
   </li>

	<li>
      Earliest use of <i>pp</i>: Schütz: Saul, was vergolst du mich
      (ca. 1650) from Symphoniae sacrae III (Barenreiter; reprinted
      in Burkholder, 2006) (contributed by Cuthbert). Runners-up:
      Handel: The Messiah (1742), Nos. 17 ("Glory to God"), 18
      ("Rejoice greatly", final version), etc. Johann Stamitz:
      Sinfonia in E-flat ("La Melodia Germanica" no. 3) (1755), I;
      Haydn: Symphony no. 7 ("Midi") (1761), I. NB: Rastall (1982)
      says pianissimo "appeared early in the 17th century".
   </li>

	<li>
      Earliest use of <i>ff</i>: J.-J. Rousseau: Le Devin Du Village
      (1752), Scene 1, air "J'ai perdu tout mon bonheur". Runners-up:
      Johann Stamitz: Sinfonia in E-flat ("La Melodia Germanica"
      no. 3) (1755), I; Haydn: Symphony no. 7 ("Midi") (1761), I.
   </li>

	<li>
      Earliest use of <i>ppp</i>: Beethoven: Piano Concerto no. 5
      in Eb ("Emperor"), Op. 73 (1809), I. Runner-up: Schubert:
      Erlkoenig, D. 328 (1815). NB: Warner (1977) says J. G.
      Tromlitz's Flute Treatise of 1791 mentions <i>ppp</i>.
   </li>

	<li>
      Earliest use of <i>fff</i>: Haydn: Sieben letzten Worte (1787;
      Artaria), string quartet version and *orch. version (contributed
      by Hosar).

      Runners-up: Beethoven: Leonore Overture no. 3, Op. 72a (1806;
      Eulenberg ed.), m. 610; Beethoven: Piano Concerto no. 5 in
      Eb ("Emperor"), Op. 73 (1809), I. NB: Warner (1977) says J.
      G. Tromlitz's Flute Treatise of 1791 mentions <i>fff</i>.
   </li>

	<li>
      Earliest use of <i>pppp</i>: Berlioz: Symphonie Fantastique,
      Op. 14 (1830; Breitkopf &amp; Hartel ed.), V, m. 345, double bass.

      Runners-up: Berlioz's Roméo et Juliette (1839; Breitkopf &amp;
      Hartel ed.), no. 4, "La reine Mab, reine des songes", in the
      celli four bars before rehearsal no. 54 (contributed by Bala);
      Wolf: In der fruehe (1888; Peters ed.).
	</li>

	<li>
      Earliest use of <i>ffff</i>: Unknown. Tchaikovsky: 1812
      Overture (1880) uses it, but his The Tempest, Op. 18 (1873)
      already used <i>fffff</i> (5 <i>f</i>'s).
   </li>

	<li>
      Earliest use of <i>forte possibile</i>: Dussek: Piano Sonata
      in E-flat, Op. 44 (publ. 1800), I. An interesting runner-up
      is Chopin: Etudes, Op. 25 (1832-36; Paderewski ed.), nos. 10
      in b and 12 in c, but there were almost certainly other uses
      between 1800 and this.
   </li>

	<li>
      Earliest use of hairpins: According to Rastall (1982), hairpins
      are first used in the violin sonatas of Piani (1712). Distant
      runners-up: Haydn: Piano Sonatas no. 9 in D (1767), I; no. 2
      in e (1778), I; and no. 5 in C (1780), I (all Peters-Martienssen
      ed.); Mozart: Piano Sonata in D, K. 576 (1789), II (Presser/Broder
      ed.). But surely there were many uses between 1712 and 1767!
   </li>
</ol>



<h3>4. Other</h3>



<ol type="a">
	<li>
      Earliest metronome marks: Beethoven published metronome marks
      for all of his (then) eight symphonies in 1817.
   </li>

	<li>
      Earliest chord with explicit "arpeggiate downward" indication:
      Chambonnieres' (d. ca. 1672) table of ornaments; d'Anglebert's
      table of ornaments (1689). (Both contributed by Zarky; both
      use a notation completely different from the modern form.)
      Runners-up: Bartok: Fourteen Bagatelles (1908; Schirmer ed.),
      no. 10 (indicated with the normal arpeggio sign, but after
      the chord instead of before); Krenek: Piano Piece, Op. 39 no.
      5 (1926) (this is the earliest with the now-standard arpeggio
      sign before the chord with an arrow on the bottom); Bartok:
      Piano Sonata (1926; Boosey &amp; Hawkes ed.), I. But it's very
      hard to believe there were no uses between 1689 and 1908!
   </li>

	<li>Instrument-specific
		<ol>
			<li>
	    		Bowed strings: Earliest explicit indication of what
	    		string something should be played on: Haydn: *Cello
	    		Concerto in D (1783), I (2nd theme). Runner-up: Beethoven:
	    		*Trio, Op. 1 No. 3, III (cello part). (contributed by
	    		Solow)
	 		</li>

			<li>
	    		Bowed strings: Earliest bowing marks: Arnold (1983)
	    		mentions Corelli: *Folia, Op. 5 no. 12 (1700).
	 		</li>

			<li>
	    		Bowed strings: Earliest glissando in natural harmonics:
	    		Rimsky-Korsakov: *Suite from the opera Christmas Eve
	    		(1895), in the section "Demonic Carol" ("Besovskaya
	    		Kolyadka").

	    		Runner-up: Ravel: Rapsodie espagnole (1908; Durand ed.),
	    		p. 40. (both contributed by Burkholder)
	 		</li>

			<li>
	    		Keyboard: Earliest explicit glissando: D. Scarlatti:
	    		Keyboard Sonatas K. 379 (1754 or earlier) &amp; *468
	    		(glissandi in both marked "con dedo solo") (contributed
	    		by Lindorff); cf. Kirkpatrick (1953), p. 188. Runners-up:
	    		Padre Antonio Soler used glissandi in some of his
	    		keyboard sonatas (contributed by Lindorff).

	    		An interesting runner-up, perhaps the earliest specifically
	    		for piano, is Clementi: Piano School (1801), Waltz 9
	    		(contributed by Solow).
	 		</li>

			<li>
	    		Piano: Earliest explicit use of una corda pedal:
	    		Beethoven: Piano Concerto no. 4, II.
	 		</li>

			<li>
	    		Piano: Earliest clear indication of "Ped. 3" (sostenuto
	    		pedal): Percy Grainger: *"Four Irish Dances (1907).
	    		Runners-up: Percy Grainger: *In a Nutshell (1916); K.S.
	    		Sorabji: Piano Sonata No. 2 (1920);  Busoni: *"Mit
	    		Anwendung des III. Pedals" in the 9th book of the
	    		Klavierubung (1923); Ruth Crawford-Seeger: *Prelude No.
	    		1 (1924). (all contributed by Gottlieb)
	 		</li>

			<li>
	    		Single-manual keyboard: Earliest use of more than two
	    		staves: In open score, Samuel Scheidt's *Tabulatura
	    		Nova (1624) (contributed by Zarky). In conventional
	    		keyboard notation, G. J. Vogler, Variations sur l'air
	    		de Marlborough (1791) (Fig. 125 in the article "Notation"
	    		in Sadie, 2001).
	 		</li>

			<li>
	    		Voice: Earliest use of sprechgesang (sprechstimme):
	    		Humperdinck: *Königskinder (1897) (cited in the article
	    		"Notation" in Arnold, 1983).
	 		</li>
		</ol>
	</li>
</ol>


</details>



