
<!--
   vim: ts=3
-->

<a name="intro"> </a>

<details>

<summary>Introduction</summary>

<ol>
   <li>
      Notwithstanding the heading below referring to "The Game",
      this list has a serious purpose, namely to suggest that
      conventional Western music notation is far more complex and
      subtle than most people think. In particular, it does not
      have well-defined borders; it just fades away indefinitely
      in all directions. It's widely understood that what music
      notation means &mdash; its semantics &mdash; is ill-defined.
      But even  what constitutes valid notation &mdash; its syntax
      &mdash; is ill-defined, and even for individual symbols
      regardless of context. For example, there's no limit on the
      shortest note duration, on the number of <i>p</i>'s or
      <i>f</i>'s in a dynamic mark, or even on the number of
      accidentals on a note.  This list includes published music
      with 2048th notes, with markings of <i>pppppppp</i> (eight
      <i>p</i>'s) and <i>ffffffff</i> (eight <i>f</i>'s), and with
      triple sharps and triple flats. I'm confident that the existence
      of every one of these would surprise most musicians, including
      music theorists and musicologists; but no one can say that
      even shorter notes, larger numbers of <i>p</i>'s or <i>f</i>'s,
      or quadruple sharps or flats aren't possible or valid.
   </li>

   <li> Rules of The Game
      <ol type="a">
    <li>
       Only published works are considered, except for music old
       enough that publication may not be a meaningful concept.
       Also, in general, implicit notation is excluded, e.g.,
       Renaissance notation that is equivalent to complex tuplets.
       Where there's a tie among several works, I've tried to
       emphasize those that are the most "mainstream", especially
       in terms of composer and publisher.  But works listed are
       automatically biased heavily towards mainstream works, and
       especially those by very well-known composers, since I'm
       less likely to even know about details in other works. (I
       doubt if Bach, Beethoven, etc., were really such great
       pioneers of notation as this document seems to indicate!)
       Runners-up are often listed: this is useful to give an idea
       of how unusual, and therefore how significant, the extreme
       is &mdash; both in practical terms and as a feature of what
       computer scientists would call <i>music representation</i>).
    </li>

    <li>
       Another question is what to do about what is sometimes called
       &#147;antimusic&#148;, &#147;conceptual music&#148;, and so
       on. This includes pieces that are obviously unplayable or
       inaudible, e.g., with notes on so many ledger lines they're
       above the hearing range even of dogs, and pieces containing
       zero notes or to be repeated forever. I generally show such
       items in square brackets "[ ]", but don't take them seriously
       as extremes.  Naturally, the borderlines are not well-defined.
       There are also pieces that are perfectly playable and audible
       but whose interest is primarily conceptual, e.g., works that
       consist of a single note, and works of significant musical
       interest but in which the extreme feature is conceptual,
       e.g., where the piece is to be repeated in its entirety
       hundreds of times or forever. These are handled on a
       case-by-case basis. (Examples of each of the features mentioned
       in this paragraph appear herein.)
    </li>

    <li>
       Jokes and parodies of music notation like the well-known
       "Fairies Aire and Death Waltz", with its 32,768th note (or
       is it a 65,536th?) and so on, form a related category.  These
       may be interesting, but not for my purposes.
    </li>

    <li>
       An important borderline case of music whose interest might
       be primarily conceptual is the "new complexity" music. To
       cite just one example, Brian Ferneyhough: String Quartet no.
       3 (1987; Peters ed.), II, includes a number of tuplets nested
       4 levels deep, and several meters with non-power-of-2
       denominators, e.g., 2/10 and 1/12. My personal inclination
       is strongly towards considering such work as of more conceptual
       than musical interest, but this is probably unfair: even if
       I'm right, it might still have substantial musical interest!
       And I've rarely (if ever) listened to this music, so I really
       can't say. But see below for more on Ferneyhough's use of
       nested tuplets. </li> <li> Though this list concentrates on
       notation, some "sound" aspects are included, e.g., extreme
       sounding as well as written pitches.
    </li>
      </ol>
   </li>

   <li>
      A related collection of examples of unusual music notation
      appears in Byrd (1984) and a supplement, <a
      href="http://www.informatics.indiana.edu/donbyrd/MoreCMNCounterexamples.htm">More
      Counterexamples in Conventional Music Notation</a> (Byrd,
      2017b).  That collection concentrates not on extremes but on
      notation that breaks the supposed rules, e.g., two clefs
      simultaneously active on the same staff, time-signature changes
      in the middle of a measure.  Byrd (1994) discusses at some
      length a few items from the original collection. However, the
      dividing line between extremes and rule-breaking is often
      unclear. In any case, the <a
      href="http://www.informatics.indiana.edu/donbyrd/InterestingMusicNotation.html">Gallery
      of Interesting Music Notation</a> webpage (Byrd, 2017a) shows
      and comments on particularly interesting examples of both.
   </li>

   <li>
      In terms of number of contributions and ideas of various
      kinds, Noam Elkies and Gavin Jared Bala are in a class by
      themselves. Thanks also for contributions and ideas to: Hans
      Aberg, David Alpher, Daniel Arribas, Jacob Baltuch, Kim Bastin,
      Arnold Black, James Brady, Peter Burkholder, Jack Campin,
      Silas Cordiero, Alistair Craft, Tim Crawford, Myke Cuthbert,
      Samuel Dickenson,  Matthew Dovey, Halvor K. Hosar, Eric
      Isaacson, Michael Fingerhut, Nicholas Forty, J. Gedan, Michael
      Good, Jay Gottlieb, Jeremy Grimshaw, Bill Guerin, Jim Halliday,
      Flinder Hiew, Douglas Hofstadter, Julian Hook, Sean Hunt,
      James Ingram, Clovis Lark, Steve Larson, David Lasocki, Joyce
      Lindorff, Geoffrey Liu, Tom McCanna, John McKay, David Meckler,
      Justin Miller, Jose Montalvo, Scott Murphy, Nigel Nettheim,
      Nick Nicholas, Laurel Parsons, James Primosch, Laurent Pugin,
      Craig Sapp, Stan Shumway, Jeffrey Solow, Mark Starr, Russell
      Tinkham, Joachim Veit, Frans Wiering, Richard White, Daniel
      Wolf, and Michael Zarky. I am not a professional musicologist,
      and the list could certainly be improved in many ways;
      contributions are invited. Asterisk ("*") indicates items I
      haven't seen personally.
   </li>

   <li>
      This material is based in part on work supported by the
      National Science Foundation under Grant No. 9909068. Any
      opinions, findings, and conclusions or recommendations expressed
      in this material are those of the author(s) and do not
      necessarily reflect the views of the National Science Foundation.
   </li>

   <li>
       Abbreviations used herein: "CMN" = Conventional Music Notation
       (also called Traditional Music Notation, Conventional Western
       Music Notation, etc.); "B&#8239;&amp;&#8239;I" = Byrd &amp;
       Isaacson (2016); "B&#8239;&amp;&#8239;M, 1948" = Barlow &amp;
       Morgenstern (1948).
   </li>

   <li>
      A small amount of this material appeared in Hewlett &amp;
      Selfridge-Field (1991, 1992). Donald Byrd, Research Technologies
      and School of Informatics, Indiana University; e-mail,
      donbyrd(at)indiana.edu .
    </li>
</ol>



</details>



