<!--
   vim: ts=3
-->


<details>


<a name="other"> </a>
<summary>Other</summary>



<h3>1. Vertical extremes</h3>



<ol type="a">
	<li>
      For comparison to well-known works, Stravinsky: Le Sacre du
      Printemps (1913), with its very large orchestra, uses a maximum
      of 35 staves and ca. 38 notated voices.

      R. Strauss: Elektra (1909), with an even larger orchestra,
      uses a maximum of 41 staves.
	</li>

	<li> Most simultaneous notated staves {B&amp;I 1.7}
		<ol type="i">

			<li>
	    		Ligeti: *Atmospheres (3rd ed., Universal) has a system
	    		of 77 staves on p. 15 (contributed by Elkies). The 1st
	    		ed. has "only" 70 staves (1961; Universal ed., p.13).
	    		The 56 strings are completely divisi in both editions.
			</li>

			<li>
	    		Runners-up: Penderecki: Symphony no. 1 (1975) has 71
	    		(there are two Schott editions; it's p. 33 in one, p.
	    		43 in another!).

       		(He uses a large orchestra, and the 46 strings are completely
       		divisi.) NB: the notation is typical Penderecki, and it might
       		be argued--but not, in my opinion, very convincingly--that
       		it doesn't belong here because it's not CMN. 61 staves in
       		Carter: Concerto for Orchestra (1969), on a page near the
       		end. A famous early example and more distant runner-up is a
       		Mass by Benevoli (1628) that uses 53 staves.
			</li>
		</ol>
	</li>

	<li>Most simultaneous notated voices {B&amp;I 1.6}
		<ol type="i">
			<li>
				79 in Ligeti: Atmospheres (1st ed., Universal, p.13).
			</li>

			<li>
	    		Runners-up: 71 in Penderecki: Symphony no. 1, on the
	    		page with 71 staves. Carter: Concerto for Orchestra
	    		(1969) has 69 on the same page with 61 staves.
			</li>

			<li>
	    		A more distant runner-up is Xenakis: Metastasis (1954-55),
	    		for 61 instruments, in which every player plays a
				separate part for the entire piece.
			</li>
		</ol>
	</li>

	<li> Most simultaneous notated parts {B&amp;I 1.6}. NB: "part" is not
      really well-defined, so neither are these numbers.

		<ol type="i">
	 		<li>
				At least 80 in Ligeti: Atmospheres. Runner-up: 71 in
	 			Penderecki: Symphony no. 1.
			</li>
		</ol>
	</li>

	<li>
      Maximums for a chord (where a "chord" refers to the notes in
      one voice and attacked simultaneously {B&amp;I 4.24}, and, if a
      stem is present, on one stem)

		<ol>
			<li>
	    		Most notes with individual heads (i.e., non-cluster
	    		notation) : 24 in Scriabin: Piano Sonata no. 7, Op. 64,
	    		last page.  Runners-up: 20 in Alkan: Quasi-Faust (2nd
	    		movement of the Grande Sonate, Op. 33, composed 1847);
	    		19 (covering a range of 6 octaves) in Alkan: Trois
	    		Grandes Etudes, Op. 76 (Billaudot ed.), no. 2; 16 in
	    		the piano part of Ives: The Housatonic at Stockbridge,
	    		in Three Places in New England, last page.
			</li>

			<li>
	    		Most notes regardless of notation {B&amp;I 4.24, 4.26): 88
	    		for piano -- all the keys of a normal instrument -- in
	    		Joseph Schwantner: Magabunda (1983), near the beginning
	    		of the 2nd movement (cluster notation) (contributed by
	    		Primosch). Runners-up: 53 for piano in Cowell: Tiger
	    		(1928; Associated ed.) (cluster notation).
			</li>

			<li>
	    		Most grace notes: 4 in Paganini: Caprice in g, Op. 1
	    		no. 10 (Dover); in Scriabin: Piano Sonata no. 6 (Dover),
	    		p. 119, and Sonata no. 7 (Dover), p. 166; and in Messiaen:
	    		Oiseaux Exotiques.
			</li>

			<li>
	    		Most accidentals: 16(!) in the piano part of Ives: The
	    		Housatonic at Stockbridge, in Three Places in New
	    		England, last page.

	 			Runners-up: 7 (6 on one staff) in Ives: General William
	 			Booth Enters into Heaven (Presser ed.), mm. 106 and 107.
	 			6 (on one staff) in Ives: Putnam's Camp, in Three Places
	 			in New England, p. 46.

	 			5 in Bartok: Piano Concerto no. 1 (Universal ed.), II, p.
	 			95; Debussy: Preludes (Dover), La terrasse des audiences
	 			de clair de lune, p. 83; Messiaen: Quartet for the End of
	 			Time (Durand), I, mm. 4, 12, 20; and Ravel: Ravel: Gaspard
	 			de la Nuit (Dover ed. _Piano Masterpieces of Maurice
	 			Ravel_), Scarbo, p. 115.
			</li>

			<li>
	    		Most fingerings: 4 in Brahms: Capriccio, Op. 116, no.
	    		7 (Breitkopf &amp; Hartel Complete Works ed.), p. 65.
			</li>
		</ol>
	</li>

	<li>
		Most written notes in a vertical simultaneity: (no entry yet)
	</li>

	<li>
		Most staves a stem has notes on  {B&amp;I 4.27}

		<ol type="i">

			<li>
	    		Crumb: Black Angels (1970) has stems extending across
	    		4 staves, with notes on each staff.
			</li>
		</ol>
	</li>

	<li>Maximums for one instrument and performer
		<ol type="i">
			<li>
	    		Most simultaneous notes for one instrument and performer:
	    		57 in Cowell: Tiger, for piano (cluster notation)
			</li>

			<li>
	    		Most simultaneous staves for one instrument and performer:
	    		10(!) in the piano part of Xenakis: Synophai (1969;
	    		Salabert ed.), mm. 94-99. Also 10 in Nancarrow: Study
	    		no. 27 for Player Piano (publ. 1977), but--while this
	    		is one instrument--it's <i>no</i> performers. Runner-up:
	    		5 in the last pages of Sorabji: Opus Clavicembalisticum
	    		(1930), for piano.
			</li>

			<li>
	    		Most simultaneous notated voices for one instrument and
	    		performer: The fugato in Alkan's Quasi-Faust (2nd
	    		movement of the Grande Sonate, Op. 33, composed 1847)
	    		goes up to at least 8 voices, 4 notated in each hand
	    		(contributed by Bala). 6 in the keyboard version of
	    		Bach: 6-Part Ricercare from the Musical Offering (Dover
	    		reprint of Breitkopf &amp; Hartel ed.).
			</li>
		</ol>
	</li>

	<li>Maximums for one staff
		<ol type="i">
			<li>Most simultaneous notated voices {B&amp;I 1.9}
				<ol type="1">
					<li>

		  				5 voices on a staff occurs momentarily in Bach:
		  				Prelude to English Suite no.1 (1725?; Bach-Gesellschaft
		  				ed.), mm. 2-3, and in Beethoven: Piano Sonatas
		  				Op. 27 #2 ("Moonlight"; 1801), III, mm. 162-165,
		  				and no. 23, Op. 57 ("Appassionata"; 1806), I, m.
		  				123 (Schenker eds.). But in all, it's simply a
		  				series of separately-attacked notes tied into a
		  				chord (and in the Beethoven cases, double-stemmed
		  				as both a single voice and independent voices).
		  				A clear-cut case of 4 voices on a staff occurs
		  				in the keyboard version of Bach: 6-Part Ricercare
		  				from the Musical Offering, and in Bach: "Jesu,
		  				Joy of Man's Desiring", arranged by Dame Myra
		  				Hess (Oxford ed.), mm. 29-31. 4 occurs in Beethoven:
		  				Piano Sonata no. 11, Op. 22 (1800; in 3 of 3 eds.
		  				I checked, including Schenker's), I, mm. 91-103,
		  				though it's simply a series of arpeggios with
		  				attack rhythm written out. 4 occurs in Beethoven:
		  				Piano Sonata no. 2, Op. 2 no. 2, I, p.24, m. 272,
		  				and no. 3, Op. 2 no. 3, I, mm. 221-225 (1795);
		  				Piano Sonata no. 11, Op. 22 (1800), I, mm. 91-103
		  				(all in 3 of 3 eds. I checked, including Schenker's);
		  				and repeatedly in Brahms: Intermezzo, Op. 119 no.
		  				1 (International ed.)--though in all it's simply
		  				a series of arpeggios with attack rhythm written
		  				out. 4 occurs repeatedly in Bach's solo violin
		  				sonatas and partitas, and in Brahms: Romance, Op.
		  				118 no. 5, but rarely if ever are the supposed
		  				voices truly all independent.
					</li>

					<li>

		  				Runners-up: 3 voices on a staff is fairly common
		  				in fugues for keyboard instruments written on two
		  				staves, e.g., the c-sharp minor Fugue in Bach:
		  				The Well-Tempered Clavier, I, and Bach: Goldberg
		  				Variations, no. 16. It's not that unusual even
		  				in keyboard music that's less contrapuntal,  e.g.,
		  				Schubert's song Der Juengling und der Tod (Peters
		  				ed.), and perhaps on wind staves in pieces for
		  				large orchestra. It also occurs in music that's
		  				much simpler, e.g., "Vigilante Man" in A Tribute
		  				to Woody Guthrie (Ludlow Music, 1972), where the
		  				main rhythm is in normal-size notes and two
		  				variants (for different verses) in small notes,
		  				one stem up and stem down. Chopin's Nocturne, Op.
		  				15 no. 2 (in <a
		  				href="http://www.informatics.indiana.edu/donbyrd/InterestingMusicNotation.html">Byrd,
		  				2017a)</a>, has beaming clearly indicating 3
		  				voices (and suggesting 4) on the staff even though
		  				there are only 1 or 2 notes at a time.
					</li>
				</ol>
			</li>
		</ol>
	</li>

	<li>
   	Most figures in a figured bass symbol {B&amp;I 19.2}: 6 in "Le
   	Cahos" from Jean-Fery Rebel's *"Les Elèments" (1737) begins with
   	a low D and a stack consisting of: 6b 5 4 3 2 7#  (contributed
   	by Guerin).
	</li>
</ol>

<h3>2. Horizontal extremes.
	<h4>
       NB: While not excluded, dramatic works are neglected here
       mostly because it's difficult to get useful information on
       lengths of major dramatic works; also, it's not clear what
       a "movement" is in an opera, etc.
	</h4>
</h3>

<ol type="a">
	<li>Most notes/chords
		<ol type="i">
			<li>notes/chords in one beamset {B&amp;I 12.1} 
				<ol type="1">
					<li>
		  				Unconditionally, 1440(!) in John Adams's China
		  				Gates (Associated Music Publishers, 1983); the
		  				beam extends over all 9 pages of the score,
		  				covering 48 systems. (contributed by Hook)
		  				Runner-up: 643 in Don Freund: Hard Cells (1989;
		  				MMB Music ed.), percussion; the beamset extends
		  				for more than 80 measures, across 11 systems.
					</li>

					<li>
		  				Broken across three systems, 132 in Liszt:
		  				Transcendental Etude no. 4 ("Mazeppa") (1827,
		  				rev. 1837; Baerenreiter Neue Ausgabe ed., 1970).

						This has 15 secondary beam breaks(!) and 28 segments.
	       		</li>

					<li>
		  				Broken across two systems, 70 in a cadenza
		  				apparently by Beethoven for the 1st movement of
		  				his Piano Concerto no. 2,

		     			Op. 19 (Breitkopf &amp; Hartel ed.). Runner-up:
		     			67 in Bartok: Rhapsody, Op. 1 (Boosey &amp;
		     			Hawkes ed.).
					</li>

					<li>
		  				On one system, 59 in Liszt: Hungarian Rhapsody
		  				no. 2, and in Rachmaninoff: Piano Concerto no. 2
		  				(Schirmer 2-piano ed.), II.
					</li>
				</ol>
			</li>

			<li>grace notes/chords in one beamset {B&amp;I 12.1}
				<ol type="1">
					<li>
		  				Hugues Dufourt: *Antiphysis has 28 in the solo
		  				flute. (contributed by Starr)
					</li>

					<li>
		  				Note that in cadenza-like passages, it may be
		  				impossible to distinguish between small normal
		  				notes and grace notes.
					</li>
				</ol>
			</li>

			<li>
				in one measure: (no entry yet)
			</li>
		</ol>
	</li>

	<li>Most appearances of a voice in one measure
		<ol type="i">
	 		<li>
				A voice (indicated by upstems on isolated notes)
	 			appears, disappears, and reappears five times in m. 175
	 			of Chopin: Ballade no. 4 in f, Op. 52.
			</li>
		</ol>
	</li>

	<li>Longest movement
		<ol type="i">
			<li>
				In measures (and quarter-note durations): Allan Pettersson: Symphony
				no. 9 (1970) is one movement of 2145 measures. Wagner: Rienzi (1840;
				shortened version, 1843; Schott ed., 1982) has one scene of 1384
				measures; it's mostly in 2/2 or 4/4, but includes substantial
				passages in 2/4, 3/4, and 6/8. But this scene also contains 1042
				measures from the original version, for a total of 2426, though no
				performance would include all (see below); nonetheless--if measures
				printed rather than performed is the criterion--this score holds
				the record. Runners-up:

	    		Mahler: *Symphony No. 8 (1906), 2nd movement, is 1572
	    		continuous measures (contributed by Bala).

	    		Alkan: Etude no. 8 ("Concerto, Premiere Partie") from
	    		Douze etudes dans tous les tons mineur, Op. 39, is 1342
	    		bars; it's in 3/4 (contributed by Starr). Schubert:
	    		Symphony no. 9, IV, is 1154 measures; it's in 2/4.
			</li>

			<li>
	    		In pages: Pettersson: Symphony no. 9 (Nordiska Musikforlager
	    		ed.) is one movement of 385 pages. Runner-up: Beethoven:
	    		Symphony no. 9, IV (Eulenberg ed.), fills 128 pages.
	    		(But this is very edition-dependent: in the Dover
	    		edition, this movement is only 88 pages.)
			</li>

			<li>
	    		In performance time: Satie: Vexations (unmeasured, 52
	    		beats to be repeated 840 times, lasting a total of about
	    		18 hours in the first performance). But this--while not
	    		unplayable--might still be disqualified as being
	    		conceptual. A clear-cut case, or at least runner-up:
	    		Pettersson: Symphony no. 9 is one movement lasting 65-70
	    		minutes. [Chopin: Mazurka Op. 7 no. 5 is marked "Dal
	    		segno senza Fine", i.e., infinite length! (Contributed
	    		by Nettheim) A case can made that the longest work of
	    		finite duration is John Cage's Organ^2/ASLSP (As SLow
	    		aS Possible). A performance in Halberstadt, Germany,
	    		began in September 2001, so it has been going on for
	    		over seventeen years; it is intended to last for 639
	    		years! (Cage himself didn't specify the tempo or duration
	    		other than via the phrase "as slow as possible"; a group
	    		of musicologists and philosophers chose the duration.
	    		Cf. the Wikipedia article "As Slow as Possible".)
	    		(contributed by Brady)]
	 		</li>

			<li>
	    		In number of notes: (no entry yet, but Pettersson:
	    		Symphony no. 9 is a very good candidate.)
			</li>
		</ol>
	</li>

	<li>Shortest movement
		<ol type="i">
			<li>
	    		In measures: no. 4 of Webern: Five Pieces for Orchestra,
	    		Op. 10 (1911-13), is 6 and 1/3 measures (in 3/4).
	    		Runner-up: no. 3 of Webern: Three Little Pieces for
	    		Cello and Piano, Op. 11, is 10 measures (of 2/4). Not
	    		surprisingly, Webern is responsible for many candidates
	    		for shortest movement, depending on the exact criteria.
			</li>

			<li>
	    		In pages: no. 3 of Webern: Three Little Pieces for Cello
	    		and Piano, Op. 11, is one system of three staves--perhaps
	    		1/3 of a page.
			</li>

			<li>
	    		In performance time: no. 4 of Webern: Five Pieces for
	    		Orchestra, Op. 10 is 19 sec. at the tempo marked
				(quarter = 60 for a duration of 19 quarters).
			</li>

			<li>
	    		In number of notes: No. 3 of Webern: Three Little Pieces
	    		for Cello and Piano, Op. 11, contains 21 sounding notes
	    		(attacks). Runner-up: no. 4 of Webern: Five Pieces for
	    		Orchestra, Op. 10, contains 47 sounding notes.

	    		[Each of the three movements of John Cage's famous 4'
	    		33" (1960) is entirely silent and contains zero sounding
	    		notes: clearly a piece of much conceptual interest, but
	    		no musical interest in the normal sense. The same is
	    		true of Philip Corner: *One Note Once, which is exactly
	    		what it sounds like.]
	 		</li>

			<li>
	    		If the Adagio between the two fast movements of Bach:
	    		Brandenburg Concerto no. 3 is considered a movement,
	    		it wins each of the above categories: it's one measure,
	    		less than 1/10 of a page, lasts just a few seconds, and
	    		contains only 20 notes. (contributed by Hiew) However,
	    		I'm inclined to consider it a mere transition between
	    		the first and third movements; besides, in performance,
	    		it's nearly always expanded with something improvisational,
	    		not played as written.
			</li>
		</ol>
	</li>

	<li>Longest complete work
		<ol type="i">
			<li>
	    		In measures: Wagner: Rienzi (1840; revised 1843) is in
	    		five acts with 408 (overture) + 1244 + 1936 + 1487 +
	    		605 + 937 = 6617 measures. (This seems to be the later,
	    		shortened version of the opera, in the 1982 Schott
	    		piano/vocal edition. That edition contains many additional
	    		passages without measure numbers--most marked "urspruengliche
	    		Version", i.e., original version--with an additional
	    		134 + 1094 + 163 + 108 + 85 = 1584 measures, for a total
	    		of 8201; since many of the superseded passages have
	    		replacements, neither the original nor the revised
	    		version includes all measures. Nonetheless--if measures
	    		printed rather than performed is the criterion--the
	    		latter value applies.) Runner-up: Hans Werner Henze:
	    		Koenig Hirsch (1952-55) is in three acts with 2471 +
	    		2225 + 990 = 5686 measures.
			</li>

			<li>
	    		In pages: This is very edition-dependent. The miniature
	    		score of Wagner: Die Meistersinger (in an old Schott
	    		edition, in three volumes) is 1441 pages. Runners-up:
	    		The full score of Janacek: The Excursions of Mr. Broucek
	    		("Die Ausfluge des Herrn Broucek", 1917; publisher
	    		unknown) is 1006 pages (in two volumes). The full score
	    		of Mussorgsky: Boris Godounov (Oxford ed.) is 929 pages
	    		(this is the record for a single volume); of Die
	    		Meistersinger (Peters ed., reprinted by Dover), 817.
			</li>

			<li>
	    		In performance time: At least one performance of Kaikhosru
	    		Sorabji's Sequentia cyclica super "Dies irae" ex Missa
	    		pro defunctis, by a solo pianist, has lasted some 8 or
	    		9 hours (contributed by Isaacson). Runner-up: Kaikhosru
	    		Sorabji: Opus Clavicembalisticum for piano (1930) lasts
	    		about 4 to 4-1/2 hours. (Contributed by Fingerhut)
			</li>

			<li>
	    		In number of sections: Bartok's Mikrokosmos contains
	    		153 pieces, in six books. Runners-up: Ives' 114 Songs;
	    		Bartok's 44 Duos for Two Violins; Schumann's Album for
	    		the Young, Op. 68, contains 43 pieces, in two parts.
			</li>
		</ol>
	</li>

	<li>
      Shortest duration a key signature is in effect: a single
      quarter-note chord in Poulenc's song "Les Chemins de L'Amour"
      (Eschig ed.); occurs twice, on pp. 1 and 2 (contributed by
      Alpher).
	</li>
</ol>



<h3>3. Tempo and metronome marks</h3>



<ol type="a">
	<li>Longest character string {B&amp;I 14.1} 
		<ol type="i">
			<li>
	    		Mussorgsky's Pictures at an Exhibition starts with:
	    		"Allegro giusto, nel modo russico, senza allegrezza,
	    		ma poco sostenuto" (69 characters). (contributed by
	    		Gedan)
			</li>

			<li>
	    		Runner-up: Beethoven: *Mass in C, Op. 86 has "Andante
	    		con moto assai vivace, quasi Allegretto, ma non troppo"
	    		(62 characters). (contributed by Starr)
			</li>
		</ol>
	</li>

	<li>
		Lowest number {B&amp;I 14.6}. For comparison, metronomes usually go down to M.M. 40.
		<ol type="i">
			<li>
	    		Crumb: Spiral Galaxy, no. 12 in Makrokosmos I  (Peters
	    		ed., 1973), is marked "eighth = 20 = 3 sec."
			</li>

			<li>
	       	Runners-up: Martino: Notturno (1973) contains the
	       	marking "half note = 24"; Crumb: Black Angels (1970),
	       	Pavana lachrymae, contains "half = 30 (quarter =
	       	60)". Martino: Impromptu for piano (1978) is marked
	       	"quarter <= 36";

				Messiaen: Un Vitrail et des Oiseaux (1986) contains "eighth = 36".

				See also the description of the Bartok runner-up for highest number.
			</li>
		</ol>
	</li>

	<li>
      Highest number {B&amp;I 14.6}. For comparison, metronomes
      usually go up to M.M. 208. In most if not all of these examples,
      there's no consistent beat unit,  so the metronome mark is
      based on a unit below the beat level, resulting in very large
      numbers.

		<ol type="i">
			<li>
	    		16th = 906(!) in *Picken (1975, music example 17, p.
	    		305). This is an excerpt of a dance tune for the kemence
	    		(Black Sea fiddle), from Macka in the Black Sea area
	    		of Turkey; it was transcribed from a recording.
	    		(contributed by Campin)
	 		</li>

			<li>
	    		Runners-up: Hindemith: Sonata for Solo Viola, Op. 25
	    		no. 1 (1922), IV, is marked "quarter = 600-640". The
	    		notes for the Imai recording say that this is "completely
	    		absurd", and suggest that Hindemith wrote the marking
	    		tongue in cheek. That's a reasonable comment unless the
	    		shortest duration is a quarter and the beats are longer
	    		and irregular, which is in fact the case!
			</li>

	 		<li>
				Runner-up: Bartok: Dance in Bulgarian Rhythm no. 1,
	 			Mikrokosmos, Book VI, is marked "eighth = 350 (half tied
	 			to quarter tied to dotted quarter = 39)"; notice it's also
	 			a runner-up for lowest number. (The meter is (4+2+3)/8,
	 			so there's no consistent beat unit, but the numbers for
	 			all of the beat durations are somewhere in the middle.)
			</li>
		</ol>
	</li>

	<li>
      Slowest in notated duration per unit time. Quintuplet 64th
      note = 75 in Stockhausen: Xi (1992) (contributed by Ingram).
	</li>

	<li>
      Shortest duration {B&amp;I 14.4}. Quintuplet 64th note = 75
      in Stockhausen: Xi. Runner-up: 64th = 288 in Crumb: Madrigal
      no. 1, from Madrigals, Book IV (1971).
   </li>
</ol>



<h3>4. Rehearsal mark</h3>



<ol type="a">
   <li>
		Longest {B&amp;I 7.15}. Strauss: An Alpine Symphony has one
   	of four characters: "114a" (all or nearly all the other rehearsal
   	marks are the expected consecutive integers).
	</li>
</ol>



<h3>5. Performance direction (in the music, not on a separate page)</h3>



<ol type="a">
	<li>
      Longest. Berlioz: Symphonie Fantastique, Op. 14, IV, has one
      of 146 characters (in French): "Il faut frapper..."
	</li>
</ol>



<h3>6. Part name or staff identification</h3>



<ol type="a">
	<li>
	 	Longest {B&amp;I 1.10}. Ives: Putnam's Camp, in Three
	 	Places in New England, has one of 47 characters: "Long
	 	Snare Drum (snares muffled) or small Timp." Runner-up:
	 	Haydn: Symphony no. 7 ("Midi"), II, has one of 38 characters:
	 	"Violoncello, Basso Continuo, e Fagotto".
	</li>

	<li>
      Longest abbreviated {B&amp;I 1.11}. Webern: Five Pieces for
      Orchestra, Op. 10, has one of 19 characters: "Solo - Vlc. m.
      Dpf."
	</li>
</ol>



<h3>7. Staff sizes</h3>



<ol type="a">
	<li>
      Most simultaneous {B&amp;I 18.3}. 3 in J. C. Bach: Concerto
      for Harpsichord or Piano and Strings in E-flat, Op. 7 no. 5
      (Dobereiner ed., 1927). One size appears only briefly, for
      an ossia; this situation and number of sizes is surely not
      too unusual.
	</li>
</ol>



<h3>8. Note modifiers<h4>(accents, articulation marks, bowings, etc., but not fingerings)</h4></h3>



<ol type="a">
	<li>
      Most on a single note/chord: Bartok: Ostinato, no. 146 in
      Mikrokosmos (1926-39; Boosey &amp; Hawkes ed.), Book VI has
      several occurrences of 3 (accent, tenuto, staccato dot).
      Ligeti: Etudes for Piano, 2nd Book, no. 13 has many occurrences
      of 3 normal accents and many occurrences of 3 "hat" accents.
      Runners-up: 2 is not too unusual. Bartok: Allegro Barbaro
      (1911; Schirmer ed.) has accent and tenuto. In every other
      case I know of, one is a staccato dot, e.g., in Rachmaninoff:
      Prelude, Op. 23 no. 5; Debussy: Suite "Pour le Piano" (1901;
      Schirmer ed.), I; Stravinsky: Le Sacre du Printemps, Danses
      des adolescentes.
	</li>
</ol>



<h3>9. Endings</h3>



<ol type="a">
	<li>
      Highest ending number {B&amp;I 20.1}.  9(!) in *"In the Heat
      of the Summer" in The Complete Phil Ochs Collection (Almo
      Publications, 1978). There's an ending marked "1.-8." for the
      first eight verses, and one marked "9." for the last(?) verse.
      (contributed by Good)
	</li>
</ol>



<h3>10. Instruments to be played by one performer in a piece<h4>(excluding percussion)</h4></h3>


<ol type="a">
	<li>
      Mahler: *Symphony no. 5 calls for one clarinetist playing six
      different instruments.
	</li>
</ol>



</details>



