<!--
   vim: ts=3
-->


<details>


<summary>Pitch</summary>

<p>
   Octave notation here is in the international standard ISO system,
   formerly known as the ASA (Acoustical Society of America) or
   ANSI system. In this system, middle C (MIDI note number 60) is
   C4; octaves start with C, so the B just below (MIDI number 59)
   is B3. The lowest note of the normal 88-key modern piano is A0
   (MIDI 21); the highest note is C8 (MIDI 108). (Boesendorfer
   Imperials, which have existed since ca. 1900, go down to F0 or
   even C0. And Stuart &amp; Sons of New South Wales, Australia now
   make a 102-key piano with a range of C0 to F8 (contributed by
   Baltuch); I believe they introduced it just a few years ago.)
</p>



<h3>1. Most ledger lines {B&amp;I 4.7}</h3>



<ol type="a">
   <li>
      Above staff: 9 in Martino: Pianississimo (1970), for C8.
      <br>Runners-up: 8 in Pianississimo for several A7's and B7's;
      8 in Shostakovich: Piano Trio no. 2 in E minor, Op. 67, end
      of first movement, violin part (International ed.; contributed
      by Elkies); 7 in Sibelius: Violin Concerto (1905; Kalmus ed.),
      III, for F#7 in solo part (occurs many times); Schoenberg:
      Violin Concerto (1936); Davidovsky: Synchronism no. 1; etc.
      [Tom Johnson: Celestial Music for Imaginary Trumpets (1974)
      contains a chord whose top note is about 100(!) ledger lines
      above the staff, in treble clef.]
   </li>

   <li>
      Below staff: 6 is fairly common in piano music for B0 or A0,
      e.g., Brahms: Rhapsodies, Op. 79, both nos. 1 and 2 (Peters/Sauer
      ed.); Debussy: Pour le Piano (1901; Schirmer ed.), I.
   </li>
</ol>



<h3>2. Extreme pitches {B&amp;I 4.7}</h3>



<ol type="a">
   <li>
      Highest written and sounding: G#8 (MIDI note number 116) in
      Salvatore Sciarrino: Six Caprices for Violin, no. 1 (1976)
      (in harmonics).  Runners-up: D8 in Scriabin: Piano Sonata no.
      6, Op. 62 (1911, Dover &amp; Schirmer eds.), last page
      (contributed by Dovey) (an editorial footnote in the Schirmer
      edition comments that this note "did not yet exist" on pianos;
      in fact, as far as I know, it didn't exist until the creation
      of the Stuart &amp; Sons 102-key piano of the 21st century);
      also in Percy Grainger: *Let's Dance Gay in Green Meadow
      (Faber ed.) (contributed by Andrew Plant via Alistair Craft).
      Lesser runners-up include C#8 in Paganini: Violin Concerto
      no. 1, Op. 6 (1817), III, solo part, and Schoenberg: Violin
      Concerto, Op. 36 (1936), solo part (in harmonics in both
      pieces). [The note in Tom Johnson: Celestial Music for Imaginary
      Trumpets mentioned above, about 100 ledger lines above a staff
      in treble clef, would have a frequency of many gigahertz
      &mdash; way, way above the audible range; even dogs can hear
      only up to about 60 kilohertz!]
   </li>

   <li>
      Lowest written and sounding: C0 (MIDI note 12) in Alexandre
      Guilmant: Organ Sonata no. 5 in c, Op. 80 (before 1909; Dover
      ed.), V, end (written C2 with a 32-ft. stop); in William
      Kraft: Encounters II for solo tuba (MCA Music, 1970) (contributed
      by Tinkham); and in William Bolcom: *Piano Concerto (1976)
      (contributed by White). This note has a frequency of 16.4 Hz,
      while it's generally considered that the lowest frequency
      that's heard as a pitch is about 20 Hz. Runners-up: E-flat-0
      (MIDI 15) in La Monte Young: *Well-Tuned Piano (written for
      a specially-tuned Boesendorfer Imperial; apparently unpublished,
      like all his works, so not really in the scope of this list),
      frequency 18.6 Hz in Young's tuning system (contributed by
      Grimshaw); F0 (MIDI 17) in Bartok: Piano Sonata (1926; Boosey
      &amp; Hawkes ed.), II, frequency 21.8 Hz &mdash; this is also
      outside the range of all but a few pianos.
   </li>
</ol>



<h3>
   3. Extreme accidentals {B&amp;I 4.8} and key signature {B&amp;I
   9.1}
</h3>



<ol type="a">
   <li>
      <p>Regarding accidentals, triple sharps appear in *Fugue no.
      34 of Anton Reicha: 36 Fugues for Piano (ca. 1805) (Magasin
      de l'imprimerie chymique ed.), m. 56, left hand (a C#x lower
      neighbor between two Dx's) (contributed by Nicholas); in
      Alkan: Etude no. 10 from Douze etudes dans tous les tons
      mineur, Op. 39 (1857) (contributed by Starr); and near the
      end of the last movement of Reger: Clarinet Sonata, Op. 49
      no. 2, piano part (1904; Universal ed.) (F#x, used as a lower
      neighbor between two Gx's) (contributed by McCanna).</p>

      <p>The Alkan and Reger instances are each in a passage in 6
      sharps; the Reicha has no key signature, making multiple
      sharps that much more remote in terms of tonality.</p>

      <p>Triple flats (for Bbbb) occur in Nikolai Roslavets (or
      Roslawez): Piano Sonata No. 1 (1914; Schott ed.), mm. 152 and
      153 &mdash; along with double flats in the same passage, their
      individual flats have their "stems" linked with "beams"!
      (contributed by Hook); they also occur in Galina Ustvolskaya:
      Piano Sonata No. 3, p. 30 (contributed by Cordiero).</p>
   </li>

   <li>
      <p>A key signature of 6 sharps and a double-sharp &mdash; the
      equivalent of 8 sharps &mdash; appears in the final pages the
      vocal score of John Foulds: *A World Requiem; the passage is
      in G-sharp major (contributed by Bala).</p>

      <p>A key signature of 8 flats appears in Victor Ewald's
      (brass) Quintet No. 4, III: the movement is in F-flat major.
      (contributed by Miller)</p>

      <p>Runners-up: Key signatures of 7 sharps and of 7 flats are
      not too unusual. 7 sharps is used in J.S. Bach: The Well-Tempered
      Clavier, Books I and II, for a prelude and fugue in C-sharp
      major in each (in B &amp; M, 1948). 7 sharps is also used for
      C-sharp major at the end of the second movement of Schubert's
      last piano sonata (D.960, in B-flat) (contributed by Elkies).
      7 flats is used for A-flat minor in Beethoven: Piano Sonata
      no. 12, Op. 26, I and III (contributed by Tinkham); also in
      Brahms: Horn Trio, Op.40, II (in B &amp; M, 1948; contributed
      by Elkies).</p>

      <p>Note: Key signatures of up to one triple-flat + six
      double-flats = 15 normal flats (!) appear in Dumitrescu (2007),
      pp. 141-170.  However, it's not clear that this qualifies as
      CMN. (contributed by Hook, who comments: "This is a modern
      realization of a 16th-century motet. The original manuscript
      was written in a circle. The author doing the reconstruction
      argues that the proper way to perform it requires adding flats
      at each repetition, and this is where that brings us by the
      third page.")</p>
   </li>
</ol>



<h3>4. Extreme ottava {B&amp;I 13.1}</h3>



<ol type="a">
   <li>
      15ma: Contrary to popular belief, 15ma (2 octaves transposition)
      is quite rare, though probably less so in the last 50 years
      or so than before. Still, the only instances I know of of
      15ma alta in a well-known work are in the solo part of Ravel:
      Piano Concerto (Durand ed., 1932(), III (NB that this is
      incorrectly printed as "16a"). It's also used repeatedly in
      Messiaen's Oiseaux Exotiques (1956; Universal ed., 1959; again
      shown as "16"), plus piano music by Cowell (Advertisement,
      1914; Associated ed.), Feldman (Durations III, no. 3, 1962),
      etc.
   </li>

   <li>
      15ma bassa: The only instances I know of are for tone clusters
      in Cowell: The Tides of Manaunaun (probably written in 1917,
      though Cowell claimed 1912; Associated ed.) for piano; for
      the C0 in William Kraft: Encounters II for solo tuba (contributed
      by Tinkham); and for C0 for tuba in William Bolcom: *Piano
      Concerto (1976) (contributed by White).
   </li>
</ol>



<h3>
   5. Widest skip and range in a melody.
	<h4>
		(NB: of course the term
   	"melody" isn't at all well-defined; as a result, many of these
   	extremes are open to question.)
	</h4>
</h3>



<ol type="a">
   <li>
      Widest skip: 5 octaves + perfect 5th (67 semitones) in
      Beethoven: Piano Sonata no. 32, Op. 111 (1822), I, m. 116.
      (It's 5 octaves + minor 7th (70 semitones) in some editions;
      the old Bulow/Lebert ed. acknowledges the editors changed the
      higher note, justified by inference from the range of the
      Broadwood piano Beethoven had when he wrote the piece and by
      analogy with the passage with the runner-up wide skip in the
      same piece!)
   </li>

   <li>
      Runners-up for widest skip: 4 octaves + dim. 7th (57 semitones)
      in Beethoven: Piano Sonata no. 32, Op. 111, I, m. 49; 4 octaves
      (48 semitones) in D. Scarlatti: Sonata in c, L. 360, K. 22;
      3 octaves + P 4th (41 st) in violin 1 of Beethoven: Quartet
      Op. 59 #3, I, ca. mm. 57-58, and in the solo part of Mozart:
      Piano Concerto no. 21, II (both contributed by Elkies).
   </li>

   <li>
      Widest overall range: 5 octaves + perfect 4th (65 st) in
      Saint-Saens: Cello Concerto no. 1, Op. 33, in a long, slow
      scale (pp. 53-54, Durand/Dover ed.). (This is arguably not
      part of a melody, but it's by far the most salient part of
      the texture for eight measures.) Runners-up: 4 octaves + maj
      6th (57 st) in Beethoven: "Hammerklavier" Sonata, Op. 106, I
      &mdash; except that 2 octaves of this is really a change of
      texture (via doubling). A better choice might be 4 octaves
      and at least a maj 3rd (52 st), perhaps a maj 6th (57 st),
      in Chopin: Etude in C major, Op. 10 no. 1: here the uncertainty
      is because it's not at all clear where the melody ends;
      however, none of it has a very melodic character in the normal
      sense.
   </li>

   <li>
      Runner-up for widest range: 3 octaves + min 2nd (37 st) in
      Mozart: Violin Concerto no. 5 ("Turkish"), I.
   </li>
</ol>



<h3>
   6. Most repeated notes in a melody.

   <h4>
      See above comments about the term "melody".  Counts are of
      sounding notes, i.e., only notes with attacks, not tied notes.
      Only written out notes qualify, not tremolo.
   </h4>
</h3>



<ol type="a">
   <li>
      Without rhythmic variety (all notes the same sounding duration).
      32 in Prokofieff: Toccata, Op. 11 (1912), m. 1 (first different
      pitch = maj 2nd up). It might be argued that this isn't a
      melody, but it's the beginning of the piece, unaccompanied,
      recurs in important places, etc. Runners-up: 15 in Khachaturian:
      Sabre Dance from "Gayane" (first different pitch = maj 2nd
      down); 14 in Beethoven: "Waldstein" Sonata, Op. 53, I, m.5
      (first different pitch = maj 2nd up).
   </li>

   <li>
      With at least some rhythmic variety (one or more notes with
      different sounding duration). The 80 notes that comprise the
      entire voice part of Peter Cornelius's song "Ein Ton", Op. 3
      #3 (contributed by Elkies). Runners-up: 50 in Chopin's song
      "Leci liscie z drzewa" ("Leaves are falling"), Op. 74 no. 17,
      mm. 50-67. 48 of the 50 are in one phrase (first different
      pitch = min 2nd up). (contributed by Nettheim). 35 in Cole
      Porter's "Night and Day" (contributed by Elkies). 30 in Jobim:
      One Note Samba (first different pitch = 4th up); here the
      number of repeated written notes is much larger, since many
      of the notes are tied. 20 in Bartok: Piano Sonata (1926), II,
      m.1 (first different pitch = maj 2nd down).
   </li>
</ol>



</details>



