<!--
	vim: ts=3
-->



<details>


<summary>References</summary>


<ol type="1">
   <li>
      Arnold, Denis, ed. (1983). <i>The New Oxford Companion to
      Music</i>. 2 vols. Oxford: Oxford University Press.
   </li>

   <li>
      Badura-Skoda, Paul &amp; Eva (1962). <i>Interpreting Mozart
      at the Keyboard.</i> New York: St. Martin's.
   </li>

   <li>
      Barlow, Harold &amp; Morgenstern, Sam (1948; henceforth "B
      &amp; M, 1948"). <i>A Dictionary of Musical Themes.</i> New
      York: Crown Publishers.
   </li>

   <li>
      Burkholder, J. Peter, &amp; Palisca, Claude, eds. (2006).
      <i>Norton Anthology of Western Music,</i> 5th ed. New York:
      W. W. Norton.
   </li>

   <li>
      Byrd, Donald (1984). <i>Music Notation by Computer.</i> Ph.D.
      dissertation, Computer Science Dept., Indiana University;
      available from UMI, www.umi.com .
   </li>

   <li>
      Byrd, Donald (1994). Music-Notation Software and Intelligence.
      <i>Computer Music Journal</i> 18(1), pp. 17-20.
   </li>

   <li>
      Byrd, Donald (2017a). Gallery of Interesting Music Notation.
      Available at:
      http://www.informatics.indiana.edu/donbyrd/InterestingMusicNotation.html
   </li>

   <li>
      Byrd, Donald (2017b). More Counterexamples in Conventional
      Music Notation. Available at:
      http://www.informatics.indiana.edu/donbyrd/MoreCMNCounterexamples.htm
   </li>

   <li>
      Byrd, Donald, &amp; Isaacson, Eric (2016) (henceforth "B &amp;
      I"). A Music Representation Requirement Specification for
      Academia. Based on our 2003 <I>Computer Music Journal</i>
      paper of the same title. Available at:
      http://www.informatics.indiana.edu/donbyrd/Papers/MusicRepReqForAcad.doc
      .
   </li>

   <li>
      Davison, Archibald, and Apel, Willi (1962). Historical Anthology
      of Music, revised ed.
   </li>

   <li>
      Dumitrescu, Theodor (2007). Constructing a Canonic Pitch
      Spiral: The Case of  <i>Salve Radix</i>. In <i>Canons and
      Canonic Techniques, 14th-16th  Centuries</i>, ed. Kateligne
      Schiltz and Bonnie J. Blackburn (Leuven:  Peeters), pp.
      141-170.
   </li>

   <li>
      Hewlett, Walter, &amp; Selfridge-Field, Eleanor, eds. (1991,
      1992). <i>Computing in Musicology,</i> vols. 7 &amp; 8. Menlo
      Park, California: Center for Computer-Assisted Research in
      the Humanities.
   </li>

   <li>
      Kirkpatrick, Ralph (1953). <i>Domenico Scarlatti.</i> Princeton
      University Press.
   </li>

   <li>
      LaRue, Jan (1988). <i>A Catalogue of Eighteenth-Century
      Symphonies,</i> Vol. I. Bloomington: Indiana University Press.
   </li>

   <li>
      Picken, Laurence E.R. (1975). <i>Folk Musical Instruments of
      Turkey.</i>
   </li>

   <li>
      Randel, Don Michael (2003). <i>Harvard Dictionary of Music</i>,
      4th ed.
   </li>

   <li>
      Rastall, Richard (1982). <i>The Notation of Western Music.</i>
      New York: St. Martins.
   </li>

   <li>
      Read, Gardner (1969). <i>Music Notation.</i> 2nd ed. Boston:
      Crescendo.
   </li>

   <li>
      Read, Gardner (1978). <i>Modern Rhythmic Notation.</i>
      Bloomington: Indiana University Press.
   </li>

   <li>
      Risatti, Howard (1975). <i>New Music Vocabulary.</i> Urbana:
      University of Illinois Press.
   </li>

   <li>
      Sadie, Stanley, ed. (1980). <i>The New Grove Dictionary of
      Music and Musicians,</i> 1st ed.  Macmillan.
   </li>

   <li>
      Sadie, Stanley, ed. (2001). <i>The New Grove Dictionary of
      Music and Musicians,</i> 2nd ed.  Macmillan.
   </li>

   <li>
      Schenk, E., ed. (1997). <i>Denkmaler der Tonkunst in
      Oesterreich,</i> vol. 151. Graz: Akademische Druck- u.
      Verlagsanstalt.
   </li>

   <li>
      Warner, Thomas (1977). Tromlitz's Flute Treatise: A Neglected
      Source of Eighteenth-Century Performance Practice. In <i>A
      Musical Offering: Essays in Honor of Martin Bernstein</i> ed.
      by E. Clinkscale and C. Brook. Pendragon Press.
   </li>

</ol>



</details>



