<!--
   vim: ts=3
-->


<details>


<summary>Rhythm and Duration</summary>


<h3>1. Shortest notated duration</h3>

<ol type="a">
   <li>For normal notes {B&I 4.5}
   	<ol type="i">
      	<li>
    			m. 16 of Anthony Phillip Heinrich: Toccata Grande Cromatica
    			from The Sylviad, Set 2 (ca. 1825), uses 1024th and even two
    			2048th(!) notes (in <a
    			href="http://www.informatics.indiana.edu/donbyrd/InterestingMusicNotation.html">Byrd,
    			2017a)</a>. However, the context shows clearly that these notes
    			have one beam more than they should, so they should really be
    			512th and 1024th notes, respectively. The passage -- in 2/4,
    			marked "Grave" -- also contains many 256th notes.  It's easy
    			to argue that these durations are ridiculous: even at a tempo
    			as slow as M.M. eighth = 40 (quarter = 20), a 1024th note would
    			last only about 12 millisec.; cf. "Shortest performed duration"
    			below. However, Heinrich obviously wanted a huge ritardando
    			here, so they may not be so unreasonable after all. See J.B.
    			Clark, The Dawning of American Keyboard Music (Greenwood Press,
    			1988), p. 365. (contributed by Shumway) (The first page of Ives:
    			"Concord" Piano Sonata no. 2 (completed 1915) (Kalmus ed.), IV
    			("Thoreau") contains a beamed group of 64th notes ending with
    			two 1024th notes, but it's pretty clear that the additional
    			beams on the "1024ths" are a mistake; they should just be 64ths.)
			</li>

			<li>
	    		Runners-up: 256th notes appear in Vivaldi: Concerto in
	    		C for ottavino, archi e cembalo, F. IV n. 5; Boguslav
	    		Schaeffer: *4 Movements for Piano and Orch. (mentioned
	    		in Read (1969), p. 117); the last variation in some
	    		editions (e.g. the Neue Mozart-Ausgabe) of Mozart's 12
	    		Variations on "Je suis Lindor", K. 354 (contributed by
	    		Bala); and some editions (e.g., Barenreiter) of Beethoven:
	    		Piano Concerto no. 3, II. (In the CCARH 1987 Directory,
	    		Dydo says 256th notes occur in Telemann but gives no
	    		details. Perhaps he was thinking of the Vivaldi piece,
	    		though it's been suggested there are 256ths in the
	    		Gulliver Suite, but I haven't checked.)
	 		</li>

	 		<li>
	    		Interesting runners-up are 15:8 128ths in Beethoven:
	    		Piano Concerto no. 3, II, and Bartok:  Rhapsody, Op. 1
	    		(1904; Boosey & Hawkes ed.). These are very nearly as
	    		short as 256th notes.
	 		</li>
		</ol>
	</li>

	<li>For grace notes (including appoggiaturas) {B&I 5.5}
		<ol type="i">
			<li>
	    		128th grace notes in Alkan: Trois Grandes Etudes, Op.
	    		76 (Billaudot ed.), no. 2, 3 mm. before the end
	    		(contributed by Dickenson).
			</li>

			<li>
	    		Runners-up: 64th grace notes are not too rare. Examples
	    		include Bartok: Rhapsody, Op. 1 and both of the Two
	    		Elegies, Op. 8B (Boosey & Hawkes eds.); Ravel: Gaspard
	    		de la Nuit (1908; Durand/Dover ed.), Ondine; Alkan:
	    		Trois Grandes Etudes, Op. 76 (Billaudot ed.), no. 2, 3
	    		mm. before the end (contributed by Dickenson).
	 		</li>
		</ol>
	</li>
</ol>

<br><h3>2. Longest notated duration, including ties</h3>



<ol type="a">
	<li>
      In both measures and durational units (i.e., fixed units like
      quarters or wholes): Verdi: Otello (1887), Act I, opens with
      a pedal point in the organ of the tone cluster(!) C2,C#2,D2,
      lasting 244 measures of 4/4 (= 976 quarters). (contributed
      by Starr)
   </li>

	<li>
      Runners-up (all distant) in durational units: Bartok: The
      Wooden Prince (1914-17) opens with 120 measures of tied dotted
      halfs (= 360 quarters) of timpani roll on one pitch, but it's
      not clear this counts, since (despite the tie) ia timpani
      roll really reiterates the note many times. There are tied
      notes equivalent to 140 quarters in Beethoven: Symphony No.
      9, II, basses, though peculiarities of the notation vaguely
      suggest subdivisions into sections the longest of which is
      88 quarters.

		Unimpeachable runners-up are

      Brahms: A German Requiem, end of the 3rd movement (30 bars
      of 4/2 = 240 quarters);

      Ravel: *L'Enfant et les Sortileges, "pastorelles" section of
      Act I, bottom half of the alto section (84+ bars of 2/4 =
      168.5 quarters) (contributed by Elkies); and Beethoven:
      Symphony no. 5, III, violas (43 measures of tied dotted halfs
      = 129 quarters).
	</li>

	<li>
       Runner-up  (distant) in measures: Bach: Organ Toccata in F
       major begins with a pedal point of 54(?) measures (of 3/8;
       = 81 quarters).
   </li>

	<li>
      Notre Dame organum in CMN transcriptions has some fairly
      strong contenders, though nothing comparable to Otello. Cf.
      especially Perotin: Viderunt Omnes, "the F-major toccata of
      the 13th century", and Sederunt; each begins with what looks
      in a modern edition like 50 or 60 measures (= 150 or 180
      quarters) of 6/8 of one tenor note.
   </li>

	<li>
      Longest continuous trill (considering only "real" trills in
      terms of both notation and sound; not timpani rolls, written-out
      fingered tremolos, etc.) on a single pitch:

      in measures and durational units, 15 measures of 3/4 in
      Beethoven: Diabelli Variations, Op. 120 (Breitkopf & Hartel
      ed.), Variation XX, mm. 17-31; in measures (and runner-up in
      durational units), 10 measures of 3/4 in Chopin: Mazurka no.
      53; in durational units (and runner-up in measures), 9 bars
      of 2/2 in Mozart: *Piano Quartet in G minor, K 478, third
      movement, piano part, bars 311 to 319 (contributed by Bala).
      Runner-up in durational units and measures: 8 bars of 2/2 in
      Beethoven's cadenza to the Rondo of Mozart's D-minor piano
      concerto, K. 466 (contributed by Elkies).
   </li>

	<li>
      Longest multi-measure rest, in measures {B&I 6.5}: the organ
      part of Strauss: An Alpine Symphony (1915) opens with a
      multibar rest labelled "tacet bis:", followed by rehearsal
      mark 94, then seven measures of rests with cues. The initial
      rest fills 695 measures. However, for a number that actually
      appears in the music, the largest I know of is 463 in a
      transcription of John Coltrane's version of the Rodgers &
      Hammerstein song My Favorite Things, in Coltrane Plays
      Standards, p. 35 (Hal Leonard ed.). Runner-up: 128 measures
      in Bruckner: Symphony no. 8 (1884-87), IV(?), triangle/cymbal
      part; this is part of a series of multibar rests and rests
      with cues totalling 248 measures.
   </li>

   <li>
		For grace notes (including appoggiaturas) {B&I 5.5}: Grace
   	half notes in Mozart: Quoniam of the Great Mass in C minor,
   	K.427, bar 85, first violins and first soprano; John Wall Callcott:
   	"Zephyr, with thy downy wing" (both contributed by Bala).

      C.P.E. Bach's Versuch uber die wahre Art das Clavier zu spielen
      (1762?; English translation as: Essay on the True Art of
      Playing Keyboard Instruments) gives examples of half- and
      even whole-note appoggiaturas. Runners-up: There are many
      examples of grace quarter notes.
   </li>

</ol>



<br><h3>3. Most augmentation dots {B&I 4.6, 6.7}</h3>



<ol type="a">
	<li>
      Quadruple dots appear in Liszt: Piano Concerto #2 (1839, rev.
      1848; Kalmus ed.), Allegro deciso, mm. 327 and 331; Schumann:
      String Quartet no. 1, Op. 41 no. 1 (1842), III, mm. 16, 17,
      33, 34, etc. (contributed by Cuthbert) (in <a
      href="http://www.informatics.indiana.edu/donbyrd/InterestingMusicNotation.html">Byrd,
      2017a)</a>; Verdi: Requiem (1874; Dover ed.), Rex Tremendae,
      mm. 356 and 358; Franck: Prelude, Chorale, and Fugue (1884;
      Schirmer ed.), mm. 2 and 4 (in B & M, 1948); Hindemith: Mathis
      der Maler Symphony (1934; Schott ed.), III, introduction;
      Bartok: Music for Strings, Percussion, and Celesta (1936;
      Boosey & Hawkes ed.), III, m. 80; and Einojuhani Rautavaara:
      Icons, Op. 6 (1955), I ("Jumalanäidin kuolema"), mm. 2-3
      (contributed by Arribas). In every case, the dots are on a
      half note.
   </li>

	<li>
       Runners-up: triple dots occur in Schumann: Carnaval (1835),
       last movement; Chopin: Piano Sonata no. 2 in b-flat, Op. 35
       (1840), I; Liszt: Mazeppa (1827; rev. 1837, 1854?), mm. 1-4
       (in B & M, 1948); Sibelius: Violin Concerto, II; etc. These
       are all (or almost all) on notes, but a triple-dotted eighth
       rest appears in m. 15 of Heinrich's Toccata Grande Cromatica;
       triple-dotted quarter rests in mm. 2 and 3 of Rautavaara's
       Icons, I; and a triple-dotted half rest in Stockhausen:
       Zeitmasse (Universal ed., 1957).
   </li>

	<li>
		For the earliest double dots, see below.
	</li>

</ol>



<h3>
		4. Tuplet extremes. 

		<h4>
			See Read (1978) for extensive discussion, with many examples.
		</h4>
</h3>


<ol type="a">
	<li> Most complex in a single level {B&I 11.1}
		<ol type="i">
	 		<li>
				Largest numerator: 58 (unmarked) in Chopin: Etude in
	 			C-sharp minor, Op. 25 #7 (1836; Paderewski ed.). Runner-up:
	 			48 (marked) in Chopin: Nocturne in D-flat, Op. 27 #2 (1835;
	 			Henle ed.).
			</li>

			<li>
	    		Largest denominator: 32 in Sorabji: Opus Clavicembalisticum,
	    		final section (the tuplet is 40:32). Runners-up: 16 in
	    		Sorabji: Opus Clavicembalisticum, final section (25:16);
	    		14 in Davidovsky: Inflexions, p. 13 (11:14, crossing a
	    		barline).
	 		</li>
		</ol>
	</li>

	<li> Nested: most levels {B&I 11.13}
		<ol type="i">
			<li>
	    		4 occurs several times in Brian Ferneyhough: String
	    		Quartet no. 3 (1987; Peters ed.), II: e.g., m. 6, it's
	    		5:3 eighths, 5:3 eighths, 9:8 32nds, 3:2 32nds. However,
	    		it's doubtful if the last level--in this instance, at
	    		least--could have any audible effect, and almost certainly
	    		any effect would be far more subtle than other unintentional
	    		and (probably) intentional timing fluctuations; therefore,
	    		this notation is essentially conceptual.
	 		</li>

			<li>
				Runner-up: 3 in Stockhausen: Klavierstueck I (1952) (3:4, 7:8, 3).
			</li>
		</ol>
	</li>

	<li> Largest "compression ratio"
		<ol type="i">
	 		<li>
				With small notes (suggesting grace notes or a cadenza,
	 			and therefore less impressive). 40:4 = 10:1 in Chopin:
	 			Nocturne in F#, Op. 15 no. 2 (Henle ed.), m. 51; 58:6 =
	 			over 9.5:1 in Chopin: Etude in C-sharp minor, Op. 25 #7
	 			(1836; Paderewski ed.). The notes in the tuplet are written
	 			as 8th notes, and the group fills a measure of 3/4. The
	 			notes are all small except the first. Runner-up: 48:6 =
	 			8:1 in Chopin: Nocturne in Db, Op. 27 no. 2 (1835; Henle
	 			ed.), all in small 8th notes, filling a measure of 6/8.
	 		</li>

	 		<li>
	    		Entirely in full-size notes.  Haydn's *Variations in F
	    		minor (composed 1793; Henle ed.) has 20:4 = 5:1
	    		eighth-notes in m. 186 and m. 188.  While these are not
	    		small notes in the Henle Urtext edition, they are in
	    		some older editions, like the one edited by Paderewski.
	    		Runners-up: Measures 187 and 189 of the same work have
	    		19:4 = 4.75:1 eighth-notes. (Both contributed by Bala)
	    		Also 7:2 = 3.5:1 in Chopin: Prelude in D-flat, Op. 28
	    		no. 15; nested 3:2 and 7:4 = 21:8 = 2.625:1 in Bartok:
	    		Bluebeard's Castle (1911), p. 118.
	 		</li>
      </ol>
   </li>

	<li>Most staves a tuplet is on (in a single system) {B&I 11.11}
		<ol type="i">
			<li>
	    		3 in Varese: Ionisation (1931; Colfranc ed.), at rehearsal
	    		no. 8. But it seems likely there are many other occurrences
	    		of tuplets across 3 staves.
			</li>
		</ol>
	</li>
</ol>




<h3>5. Most complex polymeter. <h4>See Read (1978).</h4></h3>

<br>


<h3>6. Time signature extremes</h3>



<ol type="a">
	<li> Simple time signatures: duration, numerator, and denominator extremes {B&I 10.1}
		<ol type="i">
      	<li>
	 			Shortest duration. 7/128 in Crumb: *Black Angels (1970),
	 			5th section ("Danse macabre") (7/128 time) (contributed
	 			by Hook). Runners-up: 1/16 in Stockhausen: Zeitmasse
	 			(Universal ed., 1957) (1/16 and 2/32 time). 3/32 in the
	 			Stockhausen and in Webern: String Quartet, Op. 28 (Universal
	 			ed.).
      	</li>

      	<li>
	 			Longest duration. 24 whole notes(!) in Telemann:
	 			Brobdingnagische Gigue, in Gulliver Suite (24/1 time); the
	 			shortest note value it contains is a whole. (contributed
	 			by Black)
      	</li>

      	<li>
	 			Largest numerator. 142 in Stockhausen's Klavierstuck IX
	 			(Universal, 1967): m.1 is in 142/8 time. (contributed by
	 			Hook) Runners-up: 87 in Stockhausen's Klavierstuck IX, m.2
	 			(in 87/8 time); 47 in Nancarrow: Study no. 3a for Player
	 			Piano (publ. 1983?) (47/16 time); 43 in the same piece
	 			(43/16 time).
      	</li>

      	<li>
	 			Largest denominator. 128 in Crumb: *Black Angels, 5th
	 			section ("Danse macabre") (7/128 time) (contributed by
	 			Hook). Runners-up: 64 in the same section of the Crumb
	 			work (7/64 time) (contributed by Hook). 32 in many works,
	 			e.g., Beethoven: Piano Sonata no. 32, Op. 111, II (12/32
	 			time); Stockhausen: Zeitmasse (2/32, 3/32); Webern: String
	 			Quartet, Op. 28 (1938) (3/32).
      	</li>
		</ol>
	</li>

	<li> Complex/compound/irregular meters {B&I 10.1}
		<ol type="i">
			<li>
	 			Most numerators in an "additive" (the term is from Read
	 			(1978)) meter: 4 in Bartok: Dance in Bulgarian Rhythm no.
	 			5, in Mikrokosmos (1926-39; Boosey & Hawkes ed.) Book 6:
	 			specifically, (2+2+2+3)/8; 4 in Messiaen: Un Vitrail et
	 			des Oiseaux (1986): specifically, (3+2+2+2)/32.
      	</li>

			<li>
	 			Complexity of additive meters: The Sedi Donka is a Bulgarian
	 			folk dance dance. It (or a version of it) appears in *a
	 			book by Manol Todorov, where it is written as 7/8 + 7/8 +
	 			11/8, but it can be broken down further as (3+4)+(3+4)+(4+3+4)/8,
	 			and further still by replacing the 4's with 2+2's. In any
	 			case, the total number of numerator units is 25. (contributed
	 			by Aberg)
      	</li>
		</ol>
	</li>

   <li>
      Non-power-of-2 denominator: A time signature of 12/12 appears
      in the clarinet part of Franz Berwald's Quartet for Piano and
      Winds (1819!), II (vol. 13, p. 29 of the complete works).
      (The obvious way to express what seems to be intended would
      be simply 12/8! Perhaps the 12/12 is a mere mistake.)
      (contributed by Guerin) Herbert Bruen has used a denominator
      of 12, e.g., 5/12, I believe for what most people would write
      as (3+2/3)/8. Thomas Ades has written a measure of 2/6 time,
      consisting of a half note with a triplet 3 over it, i.e., 2/3
      of a half note; he's also written 1/6 in his *Asyla, II. But
      this kind of thing can also be written with unconventional
      numerators instead of denominators: Boulez has written what
      is probably the same thing as (2/3)/4. Time signatures like
      8/9 and 8/12 appear, e.g., in Frescobaldi, but apparently
      just to cancel previous proportions and not to indicate
      durations of 8/9 or 8/12 of anything, and this usage should
      not be considered CMN.
   </li>
</ol>



<h3>7. Slur maximums <h4>(including ties and phrase marks)</h4></h3>



<ol type="a">
	<li> Longest slur {B&I 17.5}
		<ol type="i">
			<li>
				In number of systems:
				Chopin, Ballade no. 2, Op. 38 (composed 1836-1839; London first edition by Wessel and Co.) has a slur extending across 9 systems, starting at the beginning. Runners-up: Alkan, Saltarelle, Op. 23 (composed 1844), p. 6, has a slur extending across 6 systems (Richault edition). (Both contributed by Bala)
				Berg: Wozzeck (1914-21), Act III, Scene 4, piano/vocal score has a slur across 5 systems, and several across 4 systems.
			</li>
		</ol>
	</li>

	<li> Slur with most inflection points {B&I 17.17}
		<ol type="i">
     		<li>
       		Sorabji: Opus Clavicembalisticum (1930), IX [Interludium B]
       		(Curwen ed., pp. 175-176) includes a slur with a total of
       		10(!) inflection points (in <a
       		href="http://www.informatics.indiana.edu/donbyrd/InterestingMusicNotation.html">Byrd,
       		2017a)</a>; it spans three systems, repeatedly crosses three
       		staves (this is also the most staves in a single system for
       		any slur I know of), and goes slightly backwards--i.e., from
       		right to left--several times.  Henri Dutilleux: Piano Sonata
       		(1948; Durand ed.), III ("Choral et variations"), 2nd
       		variation, also has 10 inflection points; it's slightly less
       		impressive in that it repeatedly crosses only two staves and
       		it never backs up. (contributed by Hook)
    		</li>

			<li>
				Runners-up: 8 inflection points in Henri Dutilleux: *Piano
				Sonata (1948), III ("Choral et variations"), 2nd variation (contributed
				by Hook). Ravel: Le Tombeau de Couperin (1914-17), Minuet, has a
				slur with 7 inflection points, repeatedly crossing two staves
				(contributed by Hofstadter). Stockhausen: Zeitmasse has a slur with
				4 inflection points on a single staff; Ravel: Gaspard de la Nuit,
				Scarbo, p. 41, has one with 3 inflection points.
			</li>

			<li>Tie with most inflection points. Bach: Goldberg Variations, no.
				16 (Kirkpatrick/Schirmer ed.), has a tie with two inflection
				points(!); it's in the middle voice of three on its staves, and
				there's very little vertical space between the tied note and notes
				in the surrounding voices.
			</li>
		</ol>
	</li>

   <li> Most nesting {B&I 17.4}
		<ol type="i">
			<li>
				Three levels: Schoenberg: Variations for Orchestra, Op.  31
				(1928), Theme; Berg: Violin Concerto (1935), I (Universal
				Edition, mm. 47-48: solo violin) and II (mm.  174-75, 177:
				solo and orch. violins). In all cases, the innermost level
				is a tie; the others are presumably slur and phrase mark.
				Three levels is probably not too unusual.
			</li>
		</ol>
	</li>

</ol>



<h3>8. Shortest performed duration</h3>



<ol type="a">
   <li>
      Normally-played notes. Alkan: Etude No. 7 ("Symphonie, Finale")
      from Douze études dans tous les tons mineures, Op. 39 (1857),
      is marked whole note = 96, so the 16ths in mm. 357-382 last
      39 milliseconds each. However, a live recording by Marc-André
      Hamelin is at whole note = 104 here, so that each note lasts
      a mere 36 ms.! (contributed by Bala) Runners-up: There are
      several likely candidates by Alkan. Chopin: Etude in C major,
      Op. 10 no. 1, in a 2005 recording by Vladimir Ashkenazy, has
      notes lasting about 80 ms. (16th notes at a tempo of ca.
      quarter = 200). NB: this is really the time between notes
      onsets; presumably the actual durations are slightly less.
   </li>

   <li>
      Other. Debussy: Pour le Piano (1901), I, has a glissando of
      30 notes, with each note's duration less than 30 milliseconds!
      The glissando has a notated duration just under a half note.
      (Of course, glissandi for keyboard instruments, unlike those
      for most others, involve discrete notes.) A realistic fast
      tempo is something like quarter = 150; at that tempo, a half
      note lasts about 800 millisec., so the duration of each note
      is less than 27 millisec.
   </li>

</ol>



</details>



